body{
    background-color:#E6DDC4;
}
hr{
   border-style: none; 
   border-top-style: dotted;
   border-color: #DC0000;
   border-width: 9px;
   width: 7%;
    
    height: 0px;
}
h1{
    color: #850000;
}
h3{
    color: #850000;
}
